/* ================= GLOBAL ===== */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    scroll-behavior: smooth;
}
input,
textarea {
  outline: none;
  resize: none;
}
:root {
  --light-color: #F0EEFB;
  --dark-color: #090606;
  --purple-100: #6F57DB;
  --purple-200: #5235D4;
  --purple-300: #4227B9;
  --purple-400: #362097;
  --dark-purple: #0C0821;
}
.section-title {
  font-size: 2rem;
  color: var(--light-color);
  animation: changeTextShadow 2s infinite alternate;
  text-align: center;
  text-transform: uppercase;
}
.section-container {
  padding: 8rem 1rem 0;
}
body {
  background-color: var(--dark-color);
}

/* ================= CABEÇALHO ===== */
header {
  width: 100%;
  border-bottom: 0.25rem solid var(--purple-200);
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@keyframes changeTextShadow {
  from {
    text-shadow: none;
  }
  to {
    text-shadow: 4px 4px 4px var(--purple-200);
  }
}
@keyframes changeBracketColor {
  from {
    color: var(--light-color);
  }
  to {
    color: var(--purple-400);
  }
}
.header__title {
  color: var(--light-color);
  text-align: center;
  transition: text-shadow 0.2s, color 0.2s;
  animation: changeTextShadow 1.8s ease-in-out infinite alternate;
  font-size: 1.5rem;
}
.header__title::before {
  content: '<';
}
.header__title::after {
  content: '>';
}
.header__title::before,
.header__title::after {
  transition: color 0.2s;
  animation: changeBracketColor 1.8s ease-in-out infinite alternate;
}
.menu__items {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.menu__item {
  padding: 0.5rem 0;
}
.menu__link {
  position: relative;
  font-size: 0.85rem;
  color: var(--light-color);
  transition: text-shadow 500ms, color 500ms;
}
.menu__link:hover,
.menu__link:active {
  text-shadow: 0 0 10px var(--purple-300);
}
.menu__link::after {
  content: '';
  width: 0;
  height: 0.125rem;
  background: var(--purple-200);
  position: absolute;
  left: 0;
  bottom: -1rem;
  transition: width 0.2s;
}
.menu__link:hover::after {
  width: 100%;
}

/* ================= SESSAO DE BOAS VINDAS ===== */
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}
.welcome__image {
  width: 100%;
  height: 300px;
  background: url('../images/welcome-banner.jpg') no-repeat;
  background-position: bottom;
  background-size: cover;
  object-fit: cover;
}
.welcome__content {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome__title {
  font-weight: bold;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: var(--light-color);
  line-height: 2.25rem;
}
.welcome__title:hover {
  text-shadow: 0 0 10px var(--purple-300);
}
@keyframes cursorAnimation {
  from, to { border-color: transparent }
  50% { border-color: var(--light-color) }
}
.welcome__about {
  color: var(--light-color);
  text-shadow: 0 0 10px var(--purple-300);
  font-size: 0.8rem;
  border-right: 2px solid var(--light-color);
  animation: cursorAnimation 1s step-end infinite;
  text-align: center;
  padding-right: 8px;
  transition: text-shadow 0.2s;
}
.welcome__about:hover,
.welcome__about:active {
  text-shadow: 0 0 10px var(--light-color);
}

/* =================LOADING ===== */
.loading__container {
  height: 1.5rem;
  width: 90%;
  max-width: 600px;
  background-color: #CCC;
  position: relative;
  margin: 1.5rem auto;
  border: 3px solid var(--light-color);
}
.loading__bar {
  position: absolute;
  height: 100%;
  background-image: linear-gradient(to right, var(--purple-100), var(--purple-200), var(--purple-400) );
  width: 100%;
  animation: loading-animation 5s infinite;
}
@keyframes loading-animation {
  0% {width: 0%; }
  100% {width: 100%}
}

/* =================SOBRE ===== */
.about__title {
  margin-bottom: 2rem;
}
.about__container {
  padding: 0.5rem;
  background-image: radial-gradient(circle, var(--purple-300), var(--purple-400), var(--dark-purple));
  border-radius: 4px;
  border: 2px solid var(--light-color);
}
.about__description {
  color: var(--light-color);
  font-size: 0.8rem;
  line-height: 2rem;
  text-align: justify;
}
.about__image {
  display: block;
  margin: 0 auto;
}

/* =================PROJETOS ===== */
.projects__cards {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  gap: 3rem;
}
.project__card {
  width: 100%;
  max-width: 500px;
  height: 275px;
  position: relative;
  cursor: pointer;
}
.project__card:hover .card__container,
.project__card:active .card__container {
  transform: rotateY(180deg);
}
.card__container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  border: 6px groove #CCC;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
}
.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card__front {
  object-fit: cover;
}
.front__first-project {
  background: url('../images/projeto1-pixel.png') no-repeat center/cover;
}
.front__second-project {
  background: url('../images/projeto2-pixel.png') no-repeat center/cover;
}
.front__third-project {
  background: url('../images/projeto3-pixel.jpg') no-repeat center/cover;
}
.front__fourth-project {
  background: url('../images/projeto4-pixel.jpg') no-repeat center/cover;
}
.card__back {
  background-image: radial-gradient(circle, var(--purple-300), var(--purple-400), var(--dark-purple));
  color: var(--light-color);
  transform: rotateY(180deg);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.text__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.back__title {
  text-shadow: 0 0 10px var(--purple-100);
  text-transform: uppercase;
}
.back__description {
  line-height: 1.25rem;
  font-size: 0.85rem;
}
.back__icons {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.back__icon {
  display: inline-block;
  width: 50px;
}
.back__icon img {
  width: 100%;
  filter: grayscale(100);
}
.back__icon img:hover {
  filter: grayscale(0);
}

/* =================CONTATO ===== */
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--dark-purple);
  padding: 1rem;
  border: 2px groove var(--light-color);
  border-radius: 4px;
}
.contact__form input,
.contact__form textarea {
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 3px solid;
  animation: changeBorderColor 2.5s infinite ease-in-out alternate;
  transition: all 0.2s;
  width: 100%;
  font-size: 0.8rem;
}
@keyframes changeBorderColor {
  from{
      border-image: linear-gradient(90deg, var(--purple-400), var(--purple-100) 100%) 1;  
  }
  to {
      border-image: linear-gradient(90deg, var(--purple-100), var(--purple-400) 100%) 1;  
  }
}
.contact__form label {
  color: var(--light-color);
  font-size: 0.8rem;
}
.contact__submit {
  padding: 1rem;
  background-color: var(--dark-purple);
  color: var(--light-color);
  animation: changeBorderColor 2.5s infinite ease-in-out alternate;
  cursor: pointer;
}
.contact__submit:hover {
  background-color: var(--purple-400);
}

/* =================SOCIAL ===== */
.contact__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.25rem;
  margin-top: 1rem;
}
.social__link {
  width: 25%;
  max-width: 150px;
}
.social__link img {
  width: 100%;
}
.github__image {
  filter: invert(100%);
}

/* ================= RODAPÉ ===== */
footer {
  margin-top: 8rem;
}
.gameover__container {
  width: 100%;
  height: 5rem;
}
.gameover__title {
  text-align: center;
  color: var(--light-color);
  text-transform: uppercase;
  transition: all 0.3s;
  animation: gameOverAnimation 2.25s infinite;
}
@keyframes gameOverAnimation {
  from {
    font-size: 0px;
    text-shadow: none;
  }
  to {
    font-size: 2.2rem;
    text-shadow: 4px 4px 4px #EE1111;
  }
}

/* ================= RESPONSIVIDADE ===== */
@media (min-width: 650px) {
  .section-container {
    padding: 8rem 4rem 0;
  }
}
@media (min-width: 750px) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
  }
  .welcome__image {
    height: 400px;
    background-position: bottom;
  }
  .welcome__title {
    font-size: 1.75rem;
  }
  .welcome__about {
    font-size: 1.25rem;
  }
  .about__container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.25rem;
  }
  .projects {
    padding: 8rem 2rem 0;
  }
  .projects__cards {
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  @keyframes gameOverAnimation {
    from {
      font-size: 0px;
      text-shadow: none;
    }
    to {
      font-size: 3.5rem;
      text-shadow: 4px 4px 4px #EE1111;
    }
  }
}
@media (min-width: 1100px) {
  .section-title {
    font-size: 3rem;
  }
  .section-container {
    padding: 8rem 6rem 0;
  }
  .header__title {
    font-size: 2rem;
  }
  .menu__link {
    font-size: 1.25rem;
  }
  .welcome {
    position: relative;
  }
  .welcome__content {
    width: 50%;
    position: absolute;
    top: 30%;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 4px;
    padding: 1rem;
    left: 25%;
  }
  .welcome__image {
    height: 500px;
  }
  .about__image {
    width: 300px;
    height: 300px;
  }
  .about__description {
    font-size: 1.25rem;
  }
  .project__card {
    max-width: 600px;
    height: 325px;
  }
  .back__title {
    font-size: 1.5rem;
  }
  .back__description {
    font-size: 1.1rem;
  }
  .back__icon {
    width: 65px;
  }
  .contact__form label {
    font-size: 1.1rem;
  }
  .contact__form input {
    padding: 1rem;
  }
  .contact__submit {
    padding: 1.5rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 1400px) {
  .section-container {
    padding: 8rem 10rem 0;
  }
  .menu__items {
    gap: 3rem;
  }
  .welcome__image {
    height: 600px;
  }
  .project__card {
    height: 360px;
    max-width: 700px;
  }
  .contact {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .contact__form {
    flex-grow: 1;
  }
  .contact__form input,
  .contact__form textarea {
    font-size: 1.1rem;
  }
}
@media (min-width: 1700px) {
  .projects__cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  .projects {
    padding: 8rem 1rem 0;
  }
}