/* ================= GLOBAL ===== */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Luxurious+Roman&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--font-text);
}
h1,h2,h3 {
  font-family: var(--font-title);
}
:root {
  --font-text: 'League Spartan', sans-serif;
  --font-title: 'Luxurious Roman', cursive;
  --light-color: #F9F1F1;
  --dark-color: #090606;
  --red-100: #BC6262;
  --red-200: #8F3D3D;
  --red-300: #813737;
  --red-400: #723131;
  --dark-red: #642B2B;
}

/* ================= CABEÇALHO ===== */
header {
    background-color: var(--dark-color);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 0.75px solid var(--red-200);
}
@keyframes changeTextShadow {
  from {
      text-shadow: none;
  }
  to {
      text-shadow: 0 0 10px var(--red-300);
  }
}
@keyframes changeBracketColor {
  from {
    color: var(--light-color);
  }
  to {
    color: var(--red-300);
  }
}
.header__title {
    color: var(--light-color);
    text-align: center;
    padding-top: 1rem;
    transition: text-shadow 0.2s, color 0.2s;
    animation: changeTextShadow 1.8s ease-in-out infinite alternate;
    font-size: 2.2rem;
}
.header__title::before {
    content: '{';
}
.header__title::after {
    content: '}';
}
.header__title::before,
.header__title::after {
  transition: color 0.2s;
  animation: changeBracketColor 1.8s ease-in-out infinite alternate;
}
.header__menu {
  padding: 1.2rem 0;
}
.menu__items {
    display: flex;
    justify-content: space-around;
    gap: 1.2rem;
}
.menu__item {
    padding: 0.5rem 0;
}
.menu__item a {
    position: relative;
    font-size: 1.5rem;
    color: var(--light-color);
    transition: text-shadow 500ms, color 500ms;
}
.menu__item a:hover,
.menu__item a:active {
    text-shadow: 0 0 10px var(--red-300);
}
.menu__item a::after {
    content: '';
    width: 0;
    height: 0.125rem;
    background: var(--red-200);
    position: absolute;
    left: 0;
    bottom: -1rem;
    transition: width 0.2s;
}
.menu__item a:hover::after, .menu__item a:active::after {
    width: 100%;
}

/* ================= SESSAO DE BOAS VINDAS ===== */
main {
  background-color: var(--dark-color);
  padding-top: 9rem;
}
.welcome {
  min-height: calc(100vh - 9rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.welcome__image {
  width: 100%;
  max-width: 500px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  padding: 0 1rem;
  clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 100% 50%, 80% 100%, 20% 100%, 0 50%, 0 50%);
}
.welcome__content {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome__title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--light-color);
  line-height: 2.25rem;
}
.welcome__title span {
  font-size: 2.125rem;
  color: var(--red-100);
  text-transform: uppercase;
  text-shadow: 0 0 10px var(--dark-red);
  transition: text-shadow 0.2s;
}
.welcome__title span:hover,
.welcome__title span:active {
  text-shadow: 0 0 10px var(--red-100);
}
@keyframes cursorAnimation {
  from, to { border-color: transparent }
  50% { border-color: var(--light-color) }
}
.welcome__about {
  color: var(--light-color);
  text-shadow: 0 0 10px var(--red-300);
  font-size: 1.5rem;
  border-right: 2px solid var(--light-color);
  animation: cursorAnimation 1s step-end infinite;
  text-align: center;
  padding-right: 8px;
  transition: text-shadow 0.2s;
}
.welcome__about:hover,
.welcome__about:active {
  text-shadow: 0 0 10px var(--light-color);
}
@keyframes rocketMove {
  0% {
    left: 1rem;
  }
  45% {
    left: calc(100% - 1rem - 90px);
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(180deg);
  }
  100% {
    left: 1rem;
  }
}
.welcome__divider {
  width: 25%;
  max-width: 90px;
  height: 80px;
  background: url('../images/foguete.png') center/cover no-repeat;
  object-fit: cover;
  position: relative;
  animation: rocketMove 8s ease-in-out 1.5s infinite;
}